@{
    ViewData["Title"] = "Xác thực email";
}

<style>

    .box { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box_title { 
        font-size: 3rem;
        color: var(--secondary);
    }

    .box_desc{ 
        font-size: 1.4rem;
    }

</style>
 <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    
                </div>
            </div>
        </div>
    </section>

<div class="grid mt-5">
    <div class="grid_row box">

        <h1 class="box_title" style="color: orangered;">Không xác nhận được email</h1>
        <p class="box_desc">Có vẽ bạn đã không xác thực được email vui lòng đăng ký mới hoặc liện hệ ad để giải quyết.</p>
       <a href="/" class="btn btn-danger col-7 mb-2">Trang chủ</a>



    </div>
</div>