@{
    ViewData["Title"] = "Xác thực email";
}

<style>

    .box { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box_title { 
        font-size: 3rem;
        color: var(--secondary);
    }

    .box_desc{ 
        font-size: 1.4rem;
    }

</style>
 <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    
                </div>
            </div>
        </div>
    </section>

<div class="grid mt-5">
    <div class="grid_row box">

        <h1 class="box_title text-success">Xác thực email để hoàn tất</h1>
        <p class="box_desc">Cảm ơn bạn đã đăng ký tại shop lego. Chúng tối đã gửi cho bạn 1 email đính kèm link xác nhận vui lòng tiến hành kiểm tra email để hoàn tất.</p>
        <img class="image" src="/images/emailchecker.png" alt="" style="width: 800px;">


    </div>
</div>