@{
    ViewData["Title"] = "Trang thêm dữ liệu mẫu";
}
@await Html.PartialAsync("_MessagePartial")

<a asp-action="InsertCategory" class="btn btn-primary text-light" >Thêm data mẫu Category</a>

<a asp-action="InsertProduct" class="btn btn-success text-light" >Thêm data mẫu Product</a>
