

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --primary-color-rbga: rgba(238, 77, 45, 0.4);
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height: 120px;
    --star-color: #ffce3e;
    --header-with-search: calc(var(--header-height) - var(--navbar-height));
  }
  
 

  

@keyframes Showheader {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}












/* end notify */


/* authen modal */



/* end dang nhap */


/* header search */


.header_cart {
    width: 150px;
    text-align: center;
}

.header_cart-icon {
    font-size: 1.9rem;
    color: var(--white-color);
}


/* end history */

.header_cart-wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0px 8px;
}

.header_cart-wrap:hover .header_cart-list {
    display: block;
}

.header_cart-list {
    position: absolute;
    top: calc(100% + 11px);
    right: -20px;
    z-index: 1;
    background-color: var(--white-color);
    width: 500px;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
    animation: showqrcode 0.25s linear;
    cursor: default;
}

.header_cart-list::after {
    content: "";
    position: absolute;
    top: -30px;
    cursor: pointer;
    right: 13px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header_cart-list::before {
  content: "";
    position: absolute;
    top: -39px;
    height: 40px;
    right: -1px;
    width: 402px;
}

.header_cart-list--nocart .header_cart-nocart-img,
.header_cart-list--nocart .header_cart-nocart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header_cart-list--nocart {
    padding: 28px 0px;
    display: none;
}

.header_cart-nocart-img {
    display: none;
    width: 60%;
}

.header_cart-nocart-msg {
    display: none;
    margin-top: 14px;
    font-size: 1rem;
    color: var(--text-color);
}

.header_cart-notice {
    position: absolute;
    padding: 2px 5px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1rem;
    top: 19px;
    right: -1px;
    line-height: 1rem;
    border-radius: 8px;
    border: 2px solid #ee4d2d;
}


/* san pham */

.header_cart-heading {
    text-align: left;
    margin: 8px 0px 8px 12px;
    font-size: 1.2rem;
    color: rgb(36, 35, 35);
    font-weight: 400;
}

.header_cart-list-item {
    padding-left: 0px;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}

.header_cart-item {
    display: flex;
    align-items: center;
    margin-left: 5px !important;
}

.header_cart-item:hover {
    background-color: #f8f8f8;
}

.header_cart-img {
    width: 50px;
    margin: 12px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 2px;
}

.header_cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header_cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_cart-item-name {
    font-size: 1rem;
    line-height: 2rem !important;
    font-weight: 500;
    max-height: 4rem;
    color: var(--text-color);
    margin: 0px;
    padding-right: 16px;
    flex: 1;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header_cart-item-price {
    font-size: 1rem   !important;
    font-weight: 400  !important;
    color: var(--primary-color)  !important;

 
}

.header_cart-item-multiply {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px ;
}

.header_cart-item-qnt {
    color: #757575;
    font-size: 1rem;
}

.header_cart-item-body {
    text-align: left;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.header_cart-item-desc {
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;

}

.header_cart-item-remove {
    color: var(--text-color);
    font-size: 1.3rem;

}

.header_cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header_cart-view {
    float: right;
    margin: 0px 12px 12px 0px;
}


/* end san pham */


/* app container */

.hover 
{
    cursor: pointer;
}